<?xml version="1.0"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd"
>
    <system>
        <tab id="siteation" sortOrder="999" translate="label">
            <label>Siteation</label>
        </tab>

        <section
            id="siteation_themetokens"
            type="text"
            sortOrder="400"
            translate="label"
            showInDefault="1"
            showInWebsite="1"
            showInStore="1"
        >
            <label>Design Tokens</label>
            <tab>siteation</tab>
            <resource>Magento_Config::tokens</resource>

            <group
                id="general"
                type="text"
                sortOrder="10"
                translate="label"
                showInDefault="1"
                showInWebsite="1"
                showInStore="1"
            >
                <label>Design Tokens</label>
                <field
                    id="token_syntax"
                    type="select"
                    sortOrder="10"
                    translate="label"
                    showInDefault="1"
                    showInWebsite="1"
                    showInStore="1"
                    canRestore="1"
                >
                    <label>Parser</label>
                    <source_model>Siteation\ThemeTokens\Model\Config\ParserOptions</source_model>
                    <comment>This option will determen how the Tokens are parsed</comment>
                </field>
                <field
                    id="tokens"
                    type="textarea"
                    sortOrder="20"
                    translate="label"
                    showInDefault="1"
                    showInWebsite="1"
                    showInStore="1"
                >
                    <label>Tokens</label>
                    <comment>Maximum length: 12000 characters</comment>
                    <validate>validate-no-html-tags</validate>
                </field>
                <field
                    id="import_tokens"
                    type="note"
                    sortOrder="22"
                    translate="label"
                    showInDefault="1"
                    showInWebsite="1"
                    showInStore="1"
                >
                    <label>CSS or JSON importer</label>
                    <frontend_model>Siteation\ThemeTokens\Block\Adminhtml\System\Config\ImportTokens</frontend_model>
                    <comment>When using any JSON syntax, make sure the input is
                        valid JSON, to check this go to https://www.jsonschemavalidator.net/</comment>
                </field>
            </group>
        </section>
    </system>
</config>
